<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.shop.CouponPhotoMapper">
    <resultMap id="couponPhotoResult" type="com.ruoyi.system.domain.shop.CouponPhoto">
        <id         property="photoId"          column="photo_id"/>
        <result     property="photo"            column="photo"/>
        <result     property="couponId"         column="coupon_id"/>
        <result     property="createTime"       column="create_time"/>
    </resultMap>

    <sql id="selectCouponPhotoVo">
        select photo_id, photo, create_time, coupon_id
        from tb_coupon_photo
    </sql>

    <select id="getCouponPhotoById" parameterType="Long" resultMap="couponPhotoResult">
        <include refid="selectCouponPhotoVo"/>
        where photo_id = #{photoId}
    </select>

    <select id="getCouponPhotoByCouponId" parameterType="Long" resultMap="couponPhotoResult">
        select p.photo_id, p.photo, p.create_time, p.coupon_id
        from tb_coupon_photo as p
        where p.coupon_id = #{couponId}
    </select>

    <insert id="insertCouponPhoto" parameterType="com.ruoyi.system.domain.shop.CouponPhoto" useGeneratedKeys="true" keyProperty="photoId">
        insert into tb_coupon_photo(
            <trim prefix="" suffixOverrides=",">
                <if test="photoId != null and photoId != 0">photo_id,</if>
                <if test="couponId != null and couponId != 0">coupon_id,</if>
                <if test="photo != null and photo != ''">photo,</if>
                create_time
            </trim>
        ) values (
            <trim prefix="" suffixOverrides=",">
                <if test="photoId != null and photoId != 0">#{photoId},</if>
                <if test="couponId != null and couponId != 0">#{couponId},</if>
                <if test="photo != null and photo != ''">#{photo},</if>
                sysdate()
            </trim>
        )
    </insert>

    <insert id="batchInsertCouponPhoto">
        insert into tb_coupon_photo(
            photo_id, photo, coupon_id, create_time
        ) values
            <foreach collection="list" item="couponPhoto" index="index" separator=",">
                (#{couponPhoto.photoId}, #{couponPhoto.photo}, #{couponPhoto.couponId}, sysdate())
            </foreach>
    </insert>

    <delete id="deleteCouponPhotoById" parameterType="Long">
        delete from tb_coupon_photo
        where photo_id=#{photoId}
    </delete>

    <delete id="deleteCouponPhotoByIds" parameterType="Long">
        delete from tb_coupon_photo
        where photo_id in
        <foreach collection="array" item="photoId" open="(" separator="," close=")">
            #{photoId}
        </foreach>
    </delete>

    <delete id="deleteCouponPhotoByCouponId" parameterType="Long">
        delete from tb_coupon_photo
        where coupon_id = #{couponId}
    </delete>

    <delete id="deleteCouponPhotoByCouponIds" parameterType="Long">
        delete from tb_coupon_photo
        where coupon_id in
        <foreach collection="array" item="couponId" open="(" separator="," close=")">
            #{couponId}
        </foreach>
    </delete>
</mapper>