<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.shop.CouponMapper">
    <resultMap id="couponResult" type="com.ruoyi.system.domain.shop.Coupon">
        <id             property="couponId"         column="coupon_id"/>
        <result         property="couponPrice"      column="coupon_price"/>
        <result         property="couponDesc"       column="coupon_desc"/>
        <result         property="couponCode"       column="coupon_code"/>
        <result         property="startTime"        column="start_time"/>
        <result         property="endTime"          column="end_time"/>
        <association    property="shop"             column="shop_id" javaType="com.ruoyi.system.domain.shop.Shop" resultMap="shopResult"/>
        <collection     property="photoList"      javaType="java.util.List" resultMap="photoResult"/>
    </resultMap>

    <resultMap id="shopResult" type="com.ruoyi.system.domain.shop.Shop">
        <id         property="shopId"           column="shop_id"/>
        <result     property="shopName"         column="shop_name"/>
        <result     property="description"      column="description"/>
        <result     property="address"          column="address"/>
    </resultMap>

    <resultMap id="photoResult" type="com.ruoyi.system.domain.shop.CouponPhoto">
        <id         property="photoId"          column="photo_id"/>
        <result     property="photo"            column="photo"/>
        <result     property="couponId"         column="coupon_id"/>
        <result     property="createTime"       column="create_time"/>
    </resultMap>

    <sql id="selectCouponVo">
        select co.coupon_id, co.coupon_price, co.coupon_desc, co.coupon_code, co.start_time, co.end_time, co.shop_id,
        s.shop_id, s.shop_name, s.description, s.address,
        p.photo_id, p.photo, p.coupon_id, p.create_time
        from tb_coupon co
            left join tb_shop s on s.shop_id = co.shop_id
            left join tb_coupon_photo p on co.coupon_id = p.coupon_id
    </sql>

    <select id="selectCouponByCouponId" parameterType="Long" resultMap="couponResult">
        <include refid="selectCouponVo"/>
        where co.coupon_id = #{couponId}
    </select>

    <insert id="insertCoupon" parameterType="com.ruoyi.system.domain.shop.Coupon" useGeneratedKeys="true" keyProperty="couponId">
        insert into tb_coupon(
            <if test="couponId != null and couponId != 0">coupon_id,</if>
            <if test="couponPrice != null">coupon_price,</if>
            <if test="couponCode != null and couponCode != ''">coupon_code,</if>
            <if test="couponDesc != null and couponDesc != ''">coupon_desc,</if>
            <if test="shop.shopId != null and shop.shopId != 0">shop_id,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time</if>
        ) values (
            <if test="couponId != null and couponId != 0">#{couponId},</if>
            <if test="couponPrice != null">#{couponPrice},</if>
            <if test="couponCode != null and couponCode != ''">#{couponCode},</if>
            <if test="couponDesc != null and couponDesc != ''">#{couponDesc},</if>
            <if test="shop.shopId != null and shop.shopId != 0">#{shop.shopId},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime}</if>
        )
    </insert>

    <select id="selectCouponList" parameterType="com.ruoyi.system.domain.shop.Coupon" resultMap="couponResult">
        <include refid="selectCouponVo"/>
        <where>
            <if test="shop != null and shop.shopId = null and shop.shopId != 0">
                AND co.shop_id = #{shop.shopId}
            </if>
            <if test="startTime != null">
                AND date_format(co.start_time,'%y-%m-%d') &gt;= date_format(#{startTime},'%y-%m-%d')
            </if>
            <if test="endTime != null">
                AND date_format(co.end_time,'%y-%m-%d') &lt;= date_format(#{endTime},'%y-%m-%d')
            </if>
        </where>
    </select>

    <select id="selectCouponByPriceInterval" resultMap="couponResult">
        <include refid="selectCouponVo"/>
        <where>
            <if test="highPrice != null and lowPrice != null">
                co.coupon_price between #{lowPrice} and #{highPrice}
            </if>
        </where>
    </select>

    <update id="updateCoupon" parameterType="com.ruoyi.system.domain.shop.Coupon">
        update tb_coupon
        <set>
            <if test="couponPrice != null">coupon_price=#{couponPrice},</if>
            <if test="couponCode != null and couponCode != ''">coupon_code=#{couponCode},</if>
            <if test="couponDesc != null and couponDesc != ''">coupon_desc=#{couponDesc},</if>
            <if test="startTime != null">start_time=#{startTime},</if>
            <if test="endTime != null">end_time=#{endTime}</if>
        </set>
        where coupon_id = #{couponId}
    </update>

    <delete id="deleteCouponByCouponId" parameterType="Long">
        delete from tb_coupon
        where coupon_id = #{couponId}
    </delete>

    <delete id="deleteCouponByCouponIds" parameterType="Long">
        delete from tb_coupon
        where coupon_id in
        <foreach collection="array" item="couponId" open="(" separator="," close=")">
            #{couponId}
        </foreach>
    </delete>
</mapper>